<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body style="overflow-y: hidden;">
    
    <center>
    <h1 style="position: relative; top: 300px; animation: logo 1s infinite ease;"><a class="white">star</a><a class="yellow">drop</a></h1>
    </center>

    <script src="static/scripts/Telegram.js"></script>
    <script src="static/scripts/Start.js"></script>
    <script src="static/scripts/Storage.js"></script>
</body>
</html>